@-webkit-keyframes k-rainbow-anim {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes k-rainbow-anim {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes k-rainbow-anim {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes k-rainbow-anim {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

k-card,
.k-card {
    display: block;
    margin: 16px;
    border: 2px white solid;
    border-radius: 4px;
    background: black;
    color: white;
}

k-card-title,
.k-card-title {
    font-size: 1.5em;
    padding: 10px;
    display: block;
}

k-card-content,
.k-card-content {
    display: block;
    padding: 10px;
    padding-top: 0;
}

k-card-bottom,
.k-card-bottom {
    border-top: 2px white solid;
    display: block;
    padding: 10px;
}

k-button,
.k-button {
    border: 2px white solid;
    border-radius: 4px;
    color: white;
    display: inline-block;
    padding: 0.3em 0.5em;
    cursor: pointer;
}

k-button:hover,
.k-button:hover {
    color: black;
    background: white;
}

.k-rainbow {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: k-rainbow-anim 18s ease infinite;
    -z-animation: k-rainbow-anim 18s ease infinite;
    -o-animation: k-rainbow-anim 18s ease infinite;
    animation: k-rainbow-anim 18s ease infinite;
}

k-tabs,
.k-tabs {
    max-height: 3em;
}

k-tab,
.k-tab {
    display: inline-block;
    padding: 1em 0;
    text-align: center;
    width: 10em;
    user-select: none;
    cursor: pointer;
    border-right: 2px white solid;
    margin: 0;
    margin-left: -4px;
}

k-tab:last-child,
.k-tab:last-child {
    border-right: none;
}

k-navbar,
.k-navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    border-bottom: 2px white solid;
}

k-navbar-title,
.k-navbar-title {
    display: inline-block;
    font-size: 1em;
    padding: 1em;
}

k-navbar-right,
.k-navbar-right {
    display: flex;
    float: right;
    width: auto;
}

k-tab.active,
.k-tab.active {
    background: white;
    color: black;
}