.mdc-top-app-bar--fixed {
    top: 0;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
}

body {
    --mdc-theme-primary:#111; 
    --mdc-them-secondary:#fff;
    font-family:'Roboto', sans-serif;
    padding-top: 3em;
}

::selection {
    background: rgba(0, 145, 234, 0.5);
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: #0d47a1;
}

a:hover::after {
    content: " - please click me!"
}

#submit-post-button {
    float: right;
    bottom: 4em;
    right: 4em;
}

#posts-body {
    margin-top: 1em;
    max-height: 70vh;
    overflow: scroll;
}

#posts-sending {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
}

.profile-picture {
    border-width: 4px;
    border-style: solid;
    border-color: rgb(150,150,200);
    border-radius: 30px;
    float: left;
    margin: 5px;
}
