.mdc-top-app-bar--fixed {
    top: 0;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
}


/*DON'T DELETE THIS!!!!!!*/
@keyframes colors {
    0% {
        background-color: #ff073a;
    }

    20% {
        background-color: #ccff00;
    }

    40% {
        background-color: #39ff14;
    }

    60% {
        background-color: #1b03a3;
    }

    80% {
        background-color: #bc13fe;
    }

    100% {
        background-color: #ff073a;
    }
}

/*DON'T DELETE THIS!! the animation i mean*/

body {
    --mdc-theme-primary: #111;
    --mdc-theme-secondary: #fff;
    background: black;
    color: white;
    font-family: neue-haas-unica, 'Roboto', sans-serif !important;
    margin: 0;
    padding-top: 3em;
    overflow-x: hidden;
    /*background: repeating-linear-gradient(
        315deg,
        transparent,
        transparent 10px,
        #00000077 10px,
        #00000077 11px
    ),
    repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #00000077 10px,
        #00000077 11px
    );
    ddddanimation: colors 100s infinite;
    ddddanimation-timing-function: ease;*/
}

::selection {
    background: rgba(0, 145, 234, 0.5);
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: #0d47a1;
}

#submit-post-button {
    float: right;
    bottom: 4em;
    right: 4em;
}

#posts-body {
    margin-top: 1em;
    max-height: 70vh;
    overflow-y: scroll;
}

#posts-sending {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
}

.profile-picture {
    border-width: 4px;
    border-style: solid;
    border-color: rgb(150, 150, 200);
    border-radius: 30px;
    float: left;
    margin: 5px;
    max-width: 30px;
    max-width: 30px;
}

#sign-in-with-google {
    width: 8em;
}

#global-chat-disabled {
    width: 100%;
    height: 100vh;
    font-size: 4em;
    text-align: center;
    padding: 1em 0;
    top: 1em;
    position: absolute;
    background: #fff;
}

.dropdown-menu {
    position: absolute;
    cursor: pointer;
    user-select: none;
    background: black;
    border: 2px white solid;
    border-radius: 4px;
}

.dropdown-menu li {
    border-bottom: 2px white solid;
}

.dropdown-menu li:last-child {
    border-bottom-width: 0;
}

#your-pro-pic {
    margin-top: 0px;
    cursor: pointer;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#big-banner {
    height: 2em;
    font-size: 6em;
    color: white;
    padding: 1em 0;
    text-align: center;
    background: black;
    font-family: 'Roboto Mono', monospace;
    margin: 0 !important;
    user-select: none;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}

.typed-cursor {
    display: none;
}

#big-banner::after {
    visibility: visible;
    content: '';
    background: linear-gradient(315deg, #22FF81 0%, #71BFFF 100%, #FFEC74 26%, #FF3AEC 70%) no-repeat 50% 50% / 100% 100%;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
    width: 0.1em;
    height: 0.9em;
    top: 5px;
    margin-left: 0;
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
}

.dropdown-menu-title {
    background: white;
    color: #000;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    font-weight: bolder;
    padding: 5px 16px;
    cursor: initial;
}

.padded {
    padding: 16px;
}

.message-body {
    background: black;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
    padding: 16px;
    border-radius: 4px;
    border: 2px white solid;
    max-width: 80%;
    margin-left: 70px;
}

.enlargable {
    transition: all 0.4s ease;
}

.enlargable:hover {
    transform: scale(1.1);
}

.profile-picture.enlargable:hover {
    transform: scale(2);
}

.message .profile-picture {
    margin-left: 20px;
    margin-top: 20px;
}

.message-info {
    color: #333;
    font-size: 0.8em;
    margin-left: 70px;
}

.centered {
    text-align: center;
}

.mdc-top-app-bar {
    font-family: neue-haas-unica, 'Roboto', sans-serif !important;
}

.trait::after {
    border-radius: 4px;
    padding: 2px;
    margin-left: 0.5em;
    border: 2px white solid;
}

.trait._joemama::after {
    background: yellow;
    color: black;
    content: 'Joe Mama';
}

.trait._dev::after {
    background: black;
    color: white;
    content: 'Dev';
}

.trait._2kinc::after {
    background: black;
    color: white;
    content: '2K inc.';
}

k-card {
    display: block;
    margin: 8px;
    border: 2px white solid;
    border-radius: 4px;
    background: black;
    color: white;
}

k-card-title {
    font-size: 1.5em;
    padding: 10px;
    display: block;
}

k-card-bottom,
.k-card-bottom {
    border-top: 2px white solid;
    display: block;
}

k-button,
.k-button {
    border: 2px white solid;
    border-radius: 4px;
    color: white;
    display: inline-block;
    margin: 6px;
    padding: 0.3em 0.5em;
    cursor: pointer;
}

k-button:hover,
.k-button:hover {
    color: black;
    background: white;
}